@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

/* Basic Styles */
.skills-card {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #26dbff;
  border: 3px solid #DBFF26;
  margin: 0;
  padding: 1vw 1vh;
}

.skill-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skill-icon {
  width: 10%;
}

/* Typography */

.skill-ul-li {
  font-family: "Roboto Slab", Arial, serif;
  font-size: 1.5rem;
  color: #FF26DB;
}
