/* Basic Styles */
.skills-card {
  background-color: var(--mainContentBgColor);
  padding: 10vh 0;
}

.skill-ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10vh;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skill-li {
  justify-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skill-icon {
  width: 15%;
}

.skill-li-name {

}

/* Typography */

.skill-li-name {
  font-size: 2rem;
  color: #23812b;
}

@media screen and (max-width: 600px){
  .skill-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
