<div class="project-card">
  <ul class="project-card-ul">
    <li class="project-card-li" *ngFor="let proj of projectDisplays">
      <ngb-carousel *ngIf="proj.projectImgs">
        <ng-template ngbSlide *ngFor="let img of proj.projectImgs">
          <img [src]="img.imgUrl" [alt]="img.imgDescription" class="project-card-li-img">
          <div class="project-card-li-caption-container carousel-caption">
            <p class="project-card-li-caption">
              {{ img.imgDescription }}
            </p>
          </div>
        </ng-template>
      </ngb-carousel>
      <div class="project-card-li-name">
        {{ proj.projectName }}
      </div>
      <ul class="project-card-li-technologies-ul">
        <li class="project-card-li-technologies-li" *ngFor="let tech of proj.technologies">{{ tech }}</li>
      </ul>
      <p class="project-card-li-desc">
        {{ proj.projectDescription }}
      </p>
    </li>
  </ul>
</div>
