<header class="header-info">
  <nav class="header-nav">
    <ul class="header-nav-ul">
      <li class="header-nav-li">
        <a href="" class="header-nav-link" routerLink="home">
          Home
        </a>
      </li>
      <li class="header-nav-li">
        <a href="" class="header-nav-link" routerLink="skills">
          Skills
        </a>
      </li>
      <li class="header-nav-li">
        <a href="" class="header-nav-link" routerLink="projects">
          Projects
        </a>
      </li>
      <li class="header-nav-li">
        <a href="" class="header-nav-link" routerLink="contact">
          Contact Me
        </a>
      </li>
    </ul>
  </nav>
</header>
