.header-info {
  background-color: var(--startEndColor);
  padding: 3vh 0;
  min-height: 3vh;
}

.header-nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-nav-li {
  list-style-type: none;
  margin: 0;
  padding: 0 3vw;
}

.header-nav-link {
  text-decoration: dashed;
  color: navy;
}

.header-nav-link:hover {
  color: #d6743bc2;
  border-bottom: 2px solid #d6743bc2;
}
